
.mobileBlock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-large);
    display: none;
    padding: var(--space-xlarge);

    p {
        text-align: center;
    }

    svg {
        opacity: 0.2;
    }

    @media (max-width: 600px) {
        display: flex;
    }
}